{% load staticfiles %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "base.css" %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    
    <body>
    	<div class="container">
            <legend>Поставщик {{ company_name }}</legend>
            <table class="table table-bordered table-condensed">
                    <thead>
                      <tr  class="info">
                        <th>Регионы</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for item in regions %}   
                        <tr>
                            <th>{{ item.region_name }}</th>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
            <a href="/search/" id="back-btn" class="btn btn-default">Назад</a>
        </div>
    </body>
 </html>

 <script type="text/javascript">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</script>