{% load staticfiles %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    
    <body>
    	<div class="container">
    		<h>Поставщик {{ company_name }}</h>
    	</div>
    	<div  class="container">
            <p>Регионы:</p>
    		<ul>
	    	{% for item in regions %}
	    		<li>{{ item.region_name }}</li>
	    	{% endfor %}
    		</ul>
    	</div>
    	<div>
    		<a href="/search/" id="search" class="btn btn-default">Назад</a>
    	</div>
    </body>
 </html>

 <script type="text/javascript">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</script>