{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- <link rel="stylesheet" href="{% static "css/base_css.css" %}"> -->
    </head>
        <body>


<!--             {% if form.subject.errors %}
                <ol>
                    {% for error in form.subject.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                </ol>
            {% endif %} -->

            <form action="/search/" method="post">
                {% csrf_token %}
                {{form}}
                <input type="text" name="client" maxlength="50" value="{{form.client}}">
                <button id="search" >Поиск</button>
            </form>

            <div>
            {% for item in providers_list %}    
                <ul>
                    <li><a href="{{ item.get_url }}">{{ item.p_company_name }}</a></li>
                </ul>
            {% endfor %}
            </div>

           
        </body>
</html>
