{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "base.css" %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
        <body>
            <div class="container">
                <form action="/search/" method="post" class="form-search">
                    <div class="input-append">
                        {% csrf_token %}
                        {{form}}
                        <!-- <label for="inputClient">Заказчик:</label> -->
                        <legend>Заказчик (введите название компании):</legend>
                        <input type="text" class="span2 search-query" id="inputClient" placeholder="Заказчик" name="client" maxlength="50" value="{{form.client}}">
                        <button id="search-btn" class="btn btn-default">Поиск</button>
                    </div>
                </form>
            </div>

            <div  class="container">
                <table class="table table-bordered table-condensed">
                    <thead>
                      <tr class="info">
                        <th>Доступные поставщики</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for item in providers_list %}   
                        <tr>
                            <th><a href="company_info/{{item.p_company_name}}">{{ item.p_company_name }}</a></th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
           
        </body>
</html>

<script type="text/javascript">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</script>
